<nav class="container mb-3 navbar navbar-expand-sm navbar-dark" style="background-color: blueviolet">
    <ul class="navbar-nav container">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="" style="color:black; font-weight: bold;font-size: large;">Accueil</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/adresse"
                style="color:black;font-weight: bold;font-size: large;">Adresse</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/stagiaire"
                style="color:black;font-weight: bold;font-size: large;">Stagiaire</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/formulaire"
                style="color:black ;font-weight: bold;font-size: large;">Formulaire</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/tableau"
                style="color:black;font-weight: bold;font-size: large;">Tableau</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/calcul" style="color:black;font-weight: bold;font-size: large;">Calcul</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/produit"
                style="color:black ;font-weight: bold;font-size: large;">Produit</a>
        </li>
        <li class="nav-item" *ngIf="!isConnected; else deconnection">
            <!-- Test de connexion -->
            <form (ngSubmit)="seConnecter()" style=" background-color:rgb(253, 253, 255)">
                <input type="text" placeholder="Nom d'utilisateur" name="nom" style=' margin:10px;margin-right:20px'
                    [(ngModel)]="utilisateur.nom">
                <input type="password" placeholder="Mot de passe" name="motDePasse" [(ngModel)]="utilisateur.motDePasse">
                <button class="btn">
                    <i class="fas fa-sign-in-alt"></i>
                </button>
            </form>
        </li>
        <ng-template #deconnection>
            <button class="btn" (click)="seDeconnecter()">
              <p style="color:rgb(208, 201, 201); font-weight: bolder;"> {{ utilisateur.prenom | titlecase }} {{ utilisateur.nom | uppercase }} !</p> 
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </ng-template>
    </ul>
</nav>